[submodule "external/tewi-font"]
	path = external/tewi-font
	url = https://github.com/Lucy/tewi-font
[submodule "host/bdfe"]
	path = host/bdfe
	url = https://github.com/chaoskagami/bdfe
[submodule "external/libctr9"]
	path = external/libctr9
	url = https://github.com/gemarcano/libctr9
[submodule "external/ctrulib"]
	path = external/ctrulib
	url = https://github.com/chaoskagami/ctrulib
	branch = system
