out
build
*.bin
*.3dsx
*.smdh
*.cxi
*.o
*.d
*.elf
*.vco
input
host/copy.sh
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
.deps
config.log
config.status
libtool
.dirstamp
depcomp
/Makefile
/host/error_decoder
/boot/Makefile
/external/Makefile
/include/Makefile
/boot/corbenik
/bootstub/bootstub
/m4
/include/config.h
/include/stamp-h1
*.map
