[submodule "external/tewi-font"]
	path = external/tewi-font
	url = https://github.com/Lucy/tewi-font
[submodule "host/bdfe"]
	path = host/bdfe
	url = https://github.com/chaoskagami/bdfe
[submodule "external/libctr9_io"]
	path = external/libctr9_io
	url = https://github.com/gemarcano/libctr9_io
